body{
    margin: 0;
    background-color: #222831;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
/* font-family: 'Oswald', sans-serif; */
nav{
    background-color: #393E46;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 2.5rem;
    line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  color:beige;
  
}
.form-label{
    color: gray;
}
.contact{
    font-family: 'Oswald', sans-serif;
    margin:  0 auto;
    width: 30vw;
}
.linkProjet{
    text-decoration:none;
}
i{
    font-size: 2.5rem;
    color: #00ADB5;
    margin: 20px;
}
em{
    color: #393E46;
    font: 0.7em sans-serif;
}
p{
    font-size: 1.4rem;
    line-height: 1.7;
  font-family: 'Raleway', sans-serif;
  padding: auto;
}
h3{
    font-size: 2.5rem;
    line-height: 2;
    font-family: 'Oswald', sans-serif;
  color:#00ADB5 ;
  padding: 2%;
  
}
h2{
    font-size: 2.5rem;
    line-height: 2;
    font-family: 'Oswald', sans-serif;
  color:#2D4263 ;
  padding: 2%;
  
}

.parralx-intro{
    padding: auto;
    height: 100vh;
    width: 100%;
}
.html{
    margin-bottom: 50px ;
}
.ze{
    width: 128px;
    height: 128px;
    padding: 5%;
    margin: 50px 0;
}
hr{
    border-style: groove;
    border: solid 1px;
    color: aqua;
    width: 500px;
  margin: 25px auto;
   
}
p{
    color: beige;
    font: size 1.3em ;
}
span{
    color: #00ADB5;
    font-weight:bolder;
}
a{
    color: #00ADB5;
}
#section{
    padding: 5% 10%;
}

.me{
   height: 420px;
   width: 55%;
   
}

.navbar-brand{
    font-size: 2rem;
    color: #00ADB5;
    font-weight: bold;
    margin-left: 10px; ;
}
.brand{
    position: relative;
}
.hacker{
    border-radius: 100%;
    width: 64px;
    height: 64px;
    padding: 0%;
   
}
.mainconteiner{
    padding: 3% 9%;
}
.nav-link{
    color: #00ADB5;
}
.nav-item{
    padding: 0 20px;
}
#contacts{
    background-color: #393E46;
}

.TT{
    margin-top: -5px;
    padding: 0% 9%;
    margin-bottom: 10px;
    
    background-color: #222831;
}

@media (max-width: 660px) {
    .parralax-intro{
        padding: auto;
    
    }
    .me{
        width: 60%;
        height: 400px;
        margin-bottom: 30px;
        border-radius: 4%;
    }
    p{
        font-size: 1.3rem;
        line-height: 1.7;
        margin-bottom: 20px;
    }
    .nav-link{
        color: beige;
    }
    h2{
       color:#2D4263 ; 
    }
    hr{
        
        width: 50%;
        margin: 45px auto;
    }
    button{
        margin-top: 20px;
    }
    .contact{
        font-family: 'Oswald', sans-serif;
        margin:  0 auto;
        width: 50vw;
    }
}

@media (min-width: 700px) and (max-width:880px) {
  
    .me{
       
        height:80%;
      width: 80%;
    }
    .hack{
        padding:3% 1%;
    }
   
    .p{
        font-size: 1.2rem;
        line-height: 2.5;
    }
    .nav-link{
        color: beige;
    }
    h2{
       color:#2D4263 ; 
    }
    hr{
        
        width: 40%;
        margin: 60px auto;
    }
    
}
